@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Employee Management System</h1><br>

    <div>
        <center>

            <a class="btn btn-primary" href=\home/addemployee role="button">Add Employee</a>
            <a class="btn btn-warning" href="\home/viewemployee" role="button">View Employee</a>
        </center>

    </div>


</div>
